#! /bin/bash

# Récupération de la dernière version de MedShakeEHR
vversion=$(curl --silent "https://api.github.com/repos/MedShake/MedShakeEHR-base/releases/latest" |
    grep '"tag_name":' |                                                          
    sed -E 's/.*"([^"]+)".*/\1/')	

wget --no-check-certificate https://github.com/MedShake/MedShakeEHR-base/archive/$vversion.zip -P /tmp

unzip -q -o -d /tmp /tmp/$vversion.zip 

# Création des répertoires de MedShakeEHR
    mkdir -p "{{ msehrPath }}/public_html"
    version=$(echo $vversion | cut -f2 -d "v")
    mv -f /tmp/MedShakeEHR-base-$version/* {{ msehrPath }}

# Nettoyage
rm -r /tmp/$vversion.zip /tmp/MedShakeEHR-base-$version /tmp/latestRelease.sh
